<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponentRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%= render(ExampleComponent.new(title: "Ruby on Rails!", description: "Principle of Least Surprise!")) do %>
      Hello, World!
    <% end %>

    <hr />

    <%= render(ModalComponent.new) do |component| %>
      <% component.with(:header) do %>
        Hello Radin,
      <% end %>

      <% component.with(:body) do %>
        Have a good day!
      <% end %>
    <% end %>
  </body>
</html>
